/* In the name of God */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.slider {
    margin: 10px 70px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.slide {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.slide.active {
    display: flex;
}

h1, h2 {
    color: #333;
    margin: 0;
}

p {
    color: #666;
    line-height: 1.6;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px; /* Optional: to make the edges rounded */
}

.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.navigation button {
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    margin: 0 10px;
}

.navigation button.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .navigation button {
        font-size: 18px;
    }
}

#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd;
}

#progress-bar {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.3s ease;
}
